@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center vertical-center">
    <h2 class="display-4">Welcome</h2>
    <h3>To Progress-Quiz Web Application.</h3>
    <button class="btn btn-info">Let's start</button>
</div>
