@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center vertical-center">
    <h2 class="display-4">Welcome</h2>
    <h3>To Progress-Quiz Web Application.</h3>
    <div>
        <a class="btn btn-info" asp-area="" asp-controller="Quiz" asp-action="Quiz" style="color: white">Let's start</a>
    </div>
</div>
