@model Progress_Quiz.Models.QuestionsViewModel
<div class="container vertical-center container-fluid" style="width: 40%">
    <div>
        <h1 id="category"></h1>
    </div>
    <div id="quizmain">
        <p id="countdown" style="float: right; font-size: 30px"></p>
        <p id="qtext"></p>
        <form>
            <div id="altcontainer">
                <label id="label1" class="radiocontainer checkedlabel">
                    <input id="1" type="radio" name="quiz" onclick="" value="1" />
                    <span class="checkmark"></span>
                </label>
                <label id="label2" class="radiocontainer checkedlabel">
                    <input id="2" type="radio" name="quiz" onclick="" value="2" />
                    <span class="checkmark"></span>
                </label>
                <label id="label3" class="radiocontainer checkedlabel">
                    <input id="3" type="radio" name="quiz" onclick="" value="3" />
                    <span class="checkmark"></span>
                </label>
                <label id="label4" class="radiocontainer checkedlabel">
                    <input id="4" type="radio" name="quiz" onclick="" value="4" />
                    <span class="checkmark"></span>
                </label>
            </div>
            <div id="answerbuttoncontainer">
                <button class="answerbutton" type="button">Submit</button>
                <button class="answerbutton" type="submit" style="float: right; display: none">Next ❯</button>
            </div>
        </form>
    </div>
</div>
<script>
    var questions= @JavaScriptConvert.SerializeObject(Model.Questions);
    window.questions = questions;
</script>
<script src="~/js/site.js" asp-append-version="true"></script>