@model Progress_Quiz.Models.QuestionsViewModel
<div id="all" class="container vertical-center container-fluid div-main">
    <a id="tryagain" asp-action="Quiz" asp-controller="Quiz" class="btn btn-primary center-element-right">Try Again</a>
    <div>
        <h1 id="category"></h1>
    </div>
    <div id="quizmain">
        <p id="countdown" class="center-element-right" style="font-size: 30px"></p>
        <p id="qtext"></p>
        <form>
            <div id="altcontainer">
                <label id="label1" class="radiocontainer checkedlabel">
                    <input id="1" type="radio" name="quiz" onclick="" value="1" />
                    <span class="checkmark"></span>
                </label>
                <label id="label2" class="radiocontainer checkedlabel">
                    <input id="2" type="radio" name="quiz" onclick="" value="2" />
                    <span class="checkmark"></span>
                </label>
                <label id="label3" class="radiocontainer checkedlabel">
                    <input id="3" type="radio" name="quiz" onclick="" value="3" />
                    <span class="checkmark"></span>
                </label>
                <label id="label4" class="radiocontainer checkedlabel">
                    <input id="4" type="radio" name="quiz" onclick="" value="4" />
                    <span class="checkmark"></span>
                </label>
            </div>
            <div id="answerbuttoncontainer">
                <button class="answerbutton" type="button">Submit</button>
                <button class="answerbutton center-element-right" type="submit" style="display: none">Next ❯</button>
            </div>
        </form>
    </div>
</div>
<script>
    var questions= @JavaScriptConvert.SerializeObject(Model.Questions);
    window.questions = questions;
</script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 